<p>
  Hi <%= user.fullname %>,
</p>

<p>
  As per your request, we have generated your new password for LeadTraker app.
  <br/>
  You can now login using following details,
</p>

<p>
   	<strong>Email/Username:</strong> <i><%= user.email %></i><br/>
   	<strong>Password:</strong> <i><%= new_passwd %></i>
</p>
<p>
	Reply to us if you have any feedback or complaints.
</p>
<p>
  Regards,<br/>
  The LeadTraker Team <br/>
  <a href="mailto:admin@leadtraker.com">admin@leadtraker.com</a><br/>
  <a href="www.leadtraker.com">www.leadtraker.com</a>
</p>