<p>
  Hi,
</p>

<p>
  Real estate lender <strong>"<%= lender.fullname %>"</strong> has invited you to join the LeadTraker app.
  <br/>
  LeadTraker mobile app is a new and smarter way for agents to track their leads and grow their business together with the lender.
</p>

<p>
  For furthur information, please have a look at our website <a href="http://www.leadtraker.com">leadtraker.com</a>
</p>

<p>
	Do not hesitate to reply to this email if you have any queries, complaints or feedback.
</p>

<p>
  Regards,<br/>
  LeadTraker Team<br/>
  <a href="mailto:admin@leadtraker.com">admin@leadtraker.com</a><br/>
  <a href="www.leadtraker.com">www.leadtraker.com</a>
</p>