<p>
  Hi,
</p>

<p>
  Real estate agent <strong>"<%= agent.fullname %>"</strong> has invited you to join the LeadTraker app.
  <br/>
  LeadTraker allows agents to seamlessly share their leads with associated lenders along with smart management of leads.
</p>

<p>
  More information can be found on our website <a href="http://www.leadtraker.com">leadtraker.com</a>
</p>

<p>
	Do not hesitate to reply to this email if you have any queries, complaints or feedback.
</p>

<p>
  Regards,<br/>
  LeadTraker Team<br/>
  <a href="mailto:admin@leadtraker.com">admin@leadtraker.com</a><br/>
  <a href="www.leadtraker.com">www.leadtraker.com</a>
</p>