<p>
	Hi <strong><%= user.fullname %></strong>,
	<br/>
	Welcome to LeadTraker!
	<br/>
	Username: <%= user.email %>
</p>

<p>
	Don't hesitate to contact us if you have any questions or require further support.
</p>

<p>
	Happy Tracking!
</p>

<p>
	Regards,<br/>
	The LeadTraker Team<br/>
	<a href="mailto:admin@leadtraker.com">admin@leadtraker.com</a><br/>
	<a href="www.leadtraker.com">www.leadtraker.com</a>
</p>