<p>
	Hi <strong><%= user.fullname %></strong>,
</p>
<p>
	<strong><%= msg %></strong>
</p>
<p>
	Regards,<br/>
	LeadTraker Team<br/>
	<a href="mailto:admin@leadtraker.com">admin@leadtraker.com</a><br/>
	<a href="www.leadtraker.com">www.leadtraker.com</a>
</p>